{%- block typeahead_widget -%}
<div data-typeahead="container" data-url="{{ url }}" data-wildcard="{{ wildcard }}">
    {{ form_widget(form.label) }}
    {{ form_widget(form.value) }}
</div>
{%- endblock typeahead_widget -%}


{%- block datepicker_widget -%}
<div data-datepicker="{{ date_format }}" data-datepicker-locale="it">
    {{ block('form_widget_simple') }}
</div>
{%- endblock datepicker_widget -%}