{% extends 'stealCenter/layout.html.twig' %}

{% block h1 %}{{ 'Furti vetture in stato "chiuso"' }}{% endblock %}
{% block pageNav %}
    {{ render(url("isa_steal_center_list_tabs", { 'tabActive' : 'closed' }) ) }}
{% endblock %}
            
    {% block content %}

        
        {% embed 'layout/ibox.html.twig' %}
            {% block ibox_title %}


            {% endblock %}
            {% block ibox_content %}
                <div class="table-responsive">
                    {{ include("stealCenter/index/table.html.twig", { 'tableUrl': path("isa_steal_center_list_closed_json") }) }}
                </div>
        
            {% endblock %}
        {% endembed %}        
        
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ include("stealCenter/index/javascript.html.twig") }}
    {% endblock %}