<script type="text/javascript">

    // Set new style for select
    $("#isa-steals-search-form .chosen-plate-select").select2();
    $("#isa-steals-search-form .chosen-hours-select").select2();


    $(document).ready(function () {
        $("body").addClass("mini-navbar");
        
        var table = $('.isaop-steals-table');
        var json = table.attr('data-json');
        
        var options = {
            "pageLength": 100,
            "fnCreatedRow": function( nRow, aData, iDataIndex ) {
                //var checkbox = $('<input />', { type: 'checkbox', class: 'table-checkbox', value: iDataIndex });
                if (aData.accessible !== 0) {
                    var button = $('<a />', { href: aData.url, class: 'btn btn-primary', html: '<i class="fa fa-folder-open"></i>', target: '_blank' });
                    $(nRow).find('td:last-child').append(button);
                }
                else {
                    $(nRow).find('td:last-child').append('<button class="disabled btn btn-default"><i class="fa fa-lock"></i></button>');
                }
            },    
            "processing": true,
            "serverSide": true,
            "ajax": json,
            "columns": [
                //{ data: null, defaultContent: '', orderable: false },
                {"data": "isaStealCarPlate"},
                {"data": "isaStealCarModel"},
//                {"data": "isaStealDeviceSn"},
                {"data": "isaStealHolderTel"},
                {"data": "isaStealCarInsuranceNumber"},
                {"data": "isaStealHolderName"},
                {"data": "isaStealType"},
                {"data": "isaStealDate"},
                {"data": "isaStealUser"},
                {"data": "isaStealStatus"},
                {"data": "isaStealTracking"},
                { data: null, defaultContent: '', orderable: false }
            ],
            "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                if ( aData['trackingClass'] )
                {
                    $('td:eq(9)', nRow).html( '<b class="' + aData["trackingClass"] + '">' + aData["isaStealTracking"] + '</b>' );
                }
            }
        };
        var tableData = table.dmsDataTable(options);        
        
        //autoreload table
        setInterval(function () {
            tableData.ajax.reload(null, false); // user paging is not reset on reload
        }, 10000);


    });

</script>