<table class="table table-striped table-hover isaop-steals-table" data-json="{{ tableUrl }}">
    <thead>
        <tr>
            <th>{{ 'Targa' }}</th>
            <th>{{ 'Modello' }}</th>
            {#<th>{{ 'Seriale' }}</th>#}
            <th>{{ 'Tel Intestatario' }}</th>
            <th>{{ 'Numero polizza' }}</th>
            <th>{{ 'Intestatario' }}</th>
            <th>{{ 'Tipologia' }}</th>
            <th>{{ 'Data evento' }}</th>
            <th>{{ 'Utente' }}</th>
            <th>{{ 'Stato' }}</th>
            <th>{{ 'Tracking' }}</th>
            <th>{{ 'Azione' }}</th>
        </tr>
    </thead>
</table>
