<nav class="navbar navbar-static-top navbar-default">
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

        {#<li class="{{ tabActive == "todo" ? "active" }}"><a href="{{ path('isa_steal_center_list') }}">Da Lavorare{% if todo > 0 %} <span class="label label-default">{{ todo }}</span>{% endif %}</a></li>#}
        <li class="{{ tabActive == "pending" ? "active" }}"><a href="{{ path('isa_steal_center_list_pending') }}">In attesa{% if pending > 0 %} <span class="label label-default">{{ pending }}</span>{% endif %}</a></li>
        <li class="{{ tabActive == "working" ? "active" }}"><a href="{{ path('isa_steal_center_list_working') }}">In Lavorazione{% if working > 0 %} <span class="label label-default">{{ working }}</span>{% endif %}</a></li>
        {% if is_granted('ROLE_ADMIN_ISASTEALCENTER') %}
            <li class="{{ tabActive == "closed" ? "active" }}"><a href="{{ path('isa_steal_center_list_closed') }}">Chiuse{% if closed > 0 %} <span class="label label-default">{{ closed }}</span>{% endif %}</a></li>
        {% endif %}
    </ul>
</nav>