{% extends 'stealCenter/layout.html.twig' %}

{% block bodyId 'isastealcenter-handled' %}
{% block h1 %}{{ 'Furti chiusi' }}{% endblock %}


    {% block content %}

        {% embed 'layout/ibox.html.twig' %}
            {% block ibox_title %}{{ 'Furto chiuso' }}{% endblock %}
            {% block ibox_content %}
                {{ include ('stealCenter/handled/table.html.twig') }}
            {% endblock %}
        {% endembed %}

        <div class="row">
            <div class="col-lg-4">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Localizzazioni' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableLocalizations.html.twig", { 'tableUrl': path("isastealcenter_localizations_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-4">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'SOS' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableSos.html.twig", { 'tableUrl': path("isastealcenter_sos_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-4">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Crash' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableCrash.html.twig", { 'tableUrl': path("isastealcenter_crash_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Tamper' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableTamper.html.twig", { 'tableUrl': path("isastealcenter_tamper_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-3">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Quadro' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableEngine.html.twig", { 'tableUrl': path("isastealcenter_engine_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-3">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Distacco alimentazione' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tablePower.html.twig", { 'tableUrl': path("isastealcenter_power_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-3">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Spostamento a motore fermo' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableMoving.html.twig", { 'tableUrl': path("isastealcenter_moving_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>

         <div class="row">
             <div class="col-lg-6" id="e-traking">
                 <div class="ibox float-e-margins">
                     <div class="ibox-title">
                         <h5>{{ 'Emergency tracking' }}</h5>
                         <div class="ibox-tools">
                             <span class="notes"></span>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-6">
                 <div class="ibox float-e-margins">
                     <div class="ibox-title">
                         <h5>{{ 'Cosa vuoi fare?' }}</h5>
                         <div class="ibox-tools">
                         <p>La pratica è chiusa, non puoi eseguire altre operazioni</p>

                         </div>
                     </div>
                     <div id="loc-data"></div>
                 </div>
             </div>
         </div>

        <div class="google-map" id="map-canvas"></div>

    {% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ googleApiKey }}"></script>
        {{ include('stealCenter/handled/javascripts.html.twig') }}
    {% endblock %}