{% extends 'base.html.twig' %}


    {% block h1 %}Errore{% endblock %}
    {% block content %}

        <div class="jumbotron">

            <div class="error-desc">
                {{ exception.message }}
            </div>

            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <a href="{{ path('homepage') }}" class="btn btn-primary">Torna alla homepage</a>
                </div>
            </form>
                
        </div>

    {% endblock %}