
{% extends 'base.html.twig' %}


    {% block h1 %}Errore: {{ status_code }} - {{ status_text }} {% endblock %}
    {% block content %}

        <div class="jumbotron">

            <div class="error-desc">
                Ops...si è verificata una condizione imprevista che ha impedito di soddisfare la tua richiesta. Il server non è in grado di fornire informazioni più specifiche riguardo alla condizione di errore. Contattare l'assistenza.
            </div>

            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <a href="{{ path('homepage') }}" class="btn btn-primary">Torna alla homepage</a>
                </div>
            </form>
                
        </div>

    {% endblock %}
    