{% extends 'base.html.twig' %}


    {% block h1 %}Errore: {{ status_code }} - {{ status_text }} {% endblock %}
    {% block content %}

        <div class="jumbotron">

            <div class="error-desc">
                Mi dispiace, ma la pagina che hai richiesto non è stata trovata. Verifica che l'URL sia corretto e riprova, oppure clicca sul pulsante qui sotto per tornare alla homepage
            </div>

            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <a href="{{ path('homepage') }}" class="btn btn-primary">Torna alla homepage</a>
                </div>
            </form>
                
        </div>

    {% endblock %}