{% extends "FOSUserBundle:Profile:layout.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block h1 %}Modifica dati del profilo {{ app.user.username }}{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{#
<p>In questa pagina puoi modificare il tuo nome utente e la tua email. Per confermare le modifiche dovrai inserire la tua password.</p>
    

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_errors(form) }}
    
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}


    {{ form_row(form.current_password) }}
    
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </div>
{{ form_end(form) }} #}
{% set user = app.user %}
<div class="row">
        <div class="col-sm-2 text-center">
            <br />
            <img alt="image" class="img-circle" src="{{ asset('assets/img/profile_small.jpg') }}" />            
        </div>

        <div class="col-sm-10">
            <dl class="dl-horizontal">
                <dt>{{ 'profile.show.username'|trans }}</dt>    
                <dd>{{ user.username }}</dd>
            </dl>        
            <dl class="dl-horizontal">

                <dt>{{ 'profile.show.email'|trans }}</dt>    
                <dd>{{ user.email }}</dd>

            </dl>        
            <hr />
            <p class="text-right">
            {#<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary"><i class="fa fa-user"></i> Modifica dati profilo</a>#}
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary"><i class="fa fa-key"></i> Cambia password</a>
            </p>
                
        </div>
    </div>
    
{% endblock fos_user_content %}
