{% extends "::base.html.twig" %}


{% block h1 %}Benvenuto {{ app.user.username }}{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
