{% extends "FOSUserBundle:Profile:layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="row">
        <div class="col-sm-2 text-center">
            <br />
            <img alt="image" class="img-circle" src="{{ asset('assets/img/profile_small.jpg') }}" />
        </div>

        <div class="col-sm-10">
            <dl class="dl-horizontal">
                <dt>{{ 'profile.show.username'|trans }}</dt>    
                <dd>{{ user.username }}</dd>
            </dl>        
            <dl class="dl-horizontal">

                <dt>{{ 'profile.show.email'|trans }}</dt>    
                <dd>{{ user.email }}</dd>

            </dl>        
            <hr />
            <p class="text-right">
            {#<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary"><i class="fa fa-user"></i> Modifica dati profilo</a>#}
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary"><i class="fa fa-key"></i> Cambia password</a>
            </p>
                
        </div>
    </div>


{% endblock fos_user_content %}
