<!DOCTYPE html>
<html xmlns:hx="http://purl.org/NET/hinclude">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}DMISA{% endblock %}</title>
        {% block stylesheets %}
            <link href='//fonts.googleapis.com/css?family=Open+Sans|Roboto' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.0.2/metisMenu.min.css">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css">
            <link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">
            {#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css">#}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css">
            <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.0.2/css/responsive.bootstrap.min.css">
            <link rel="stylesheet" href="//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.min.css">
            <link rel="stylesheet" href="//cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">
            <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/all.css">
            <link rel="stylesheet" href="{{ asset('assets/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body class="{% block bodyClass %}{% endblock %}" id="{% block bodyId %}{% endblock %}">
        {% block wrapper %}
            <div id="wrapper">
                {% block header %}{{ include('layout/navbar.html.twig') }}{% endblock %}
                <div id="page-wrapper" class="gray-bg">
                    <div class="layout-margin border-bottom">
                        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                            <div class="navbar-header">
                                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                                <h2 class="navbar-text navbar-left">{% block h1 %}DMS{% endblock %}</h2>
                            </div>
                            <ul class="nav navbar-top-links navbar-right">
                                {% if is_granted('ROLE_WORKSHOP') %} <li><a href="{{ path('workshop_profile') }}"><i class="fa fa-newspaper-o"></i>{{ 'Avvisi' }}</a></li> {% endif %}
                                <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> {{ app.user.username }}</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ 'Disconnetti' }}</a></li>
                            </ul>
                        </nav>                        
                    </div>

                    {% block pageNav %}{% endblock %}
                    
                    <div class="container-fluid">
                        {% block pageTitle %}
                        {% endblock %}
                    </div>
                        
                    {% block layout_content %}
                        <div class="wrapper wrapper-content" style="padding-bottom: 30px">
                            {% block notify %}{{ include('layout/notify.html.twig') }}{% endblock %}
                            {% block content %}{% endblock %}
                        </div>
                    {% endblock %}

                    {% block footer %}<div class="footer"></div>{% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            {{ include('layout/jsVendors.html.twig') }}            
            <script type="text/javascript" src="{{ asset('assets/javascript.js') }}"></script>
            {{ include('layout/javascripts.html.twig') }}
            {#<script src="http://maps.googleapis.com/maps/api/js?key={{ googleApiKey }}&extension=.js&output=embed&callback=initMap" type="text/javascript"></script>#}
        {% endblock %}

    </body>
</html>