{% extends 'base.html.twig' %}

{% block bodyClass 'default' %}

{% if app.user and is_granted('ROLE_USER') %}

    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <h4>Profilo Default</h4>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endif %}