{% extends "FOSUserBundle:Profile:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block h1 %}Cambio password: {{ app.user.username }}{% endblock %}


{% block fos_user_content %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">

        <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
    </div>
    </div>
        
    <p class="text-right">
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default"> Indietro</a>
    </p>
        
{{ form_end(form) }}       
{% endblock fos_user_content %}

