{% form_theme formHolder 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(formHolder, {'attr': { 'class': 'wizard-big', 'id': 'form-holder-reporting' } }) }}

    <h1>{{ 'Dati cliente' }}</h1>
    <fieldset>
        <div id="r-holder">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    {{ form_row(formHolder.name) }}
                    {{ form_row(formHolder.surname) }}
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center align-middle">
                    <div style="margin-top: 20px">
                        <i class="fa fa-sign-in" style="font-size: 120px;color: #e5e5e5"></i>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <h1>{{ 'Selezione targa' }}</h1>

    <fieldset>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p><b>N.B.</b> Se nessuna targa è presente nel menù a tendina il cliente selezionato non ha una polizza attiva.</p>
            </div>
        </div>
        <div id="r-plate">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    {#{{ form_row(formHolder.plate) }}#}
                    <select id="holder_reporting_plate" name="holder_reporting[plate]" class="form-control required">
                        <option value="">Seleziona targa...</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center">
                    <div style="margin-top: 20px">
                        <i class="fa fa-sign-in" style="font-size: 120px;color: #e5e5e5"></i>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <h1>{{ 'Crea evento' }}</h1>
    <fieldset>
        {{ form_row(formHolder.tipo) }}
        {{ form_row(formHolder.complaint, { "label": "Note" }) }}
        {{ form_row(formHolder.date, { "label": "Data furto" }) }}
        {{ form_widget(formHolder._token) }}
        {{ form_row(formHolder.submit, {  'label': 'Crea evento', 'attr': { 'class': 'btn btn-primary' } }) }}
    </fieldset>

{{ form_end(form) }}