{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(form, {'attr': { 'class': 'wizard-big', 'id': 'form-car-reporting' } }) }}

<h1>{{ 'Targa' }}</h1>
<fieldset>
    <div id="rc-plate">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                {{ form_row(form.plate, { "label": "Targa" }) }}
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="text-center align-middle">
                <div style="margin-top: 20px">
                    <i class="fa fa-sign-in" style="font-size: 120px;color: #e5e5e5"></i>
                </div>
            </div>
        </div>
    </div>

</fieldset>
<h1>{{ 'Conferma targa' }}</h1>
<fieldset>
    <div class="row">
        <div class="col-lg-12">
            <p class="plate-status">La targa <span class="plate"><b></b> risulta "</span><span class="status"><b></b></span>"<span class="note"></span></p>
        </div>
    </div>
    <div class="row" id="rc-confirm-plate">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="holder">
                        <label>Intestatario</label>
                        <p>ND</p>
                    </div>
                    <div class="model">
                        <label>Modello</label>
                        <p>ND</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="color">
                        <label>Colore</label>
                        <p>ND</p>
                    </div>
                    <div class="contract">
                        <label>Contratto</label>
                        <p>ND</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tel">
                        <label>Tel primario</label>
                        <p>ND</p>
                    </div>
                    <div class="aggiuntivi">
                        <label>Tel aggiuntivi</label>
                        <p>ND</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="text-center">
                <div style="margin-top: 20px">
                    <i class="fa fa-sign-in" style="font-size: 120px;color: #e5e5e5"></i>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<h1>{{ 'Crea evento' }}</h1>
<fieldset>
    {{ form_row(form.tipo) }}
    {{ form_row(form.complaint, { "label": "Note" }) }}
    {{ form_row(form.date, { "label": "Data furto" }) }}
    {{ form_widget(form._token) }}
    {{ form_row(form.submit, {  'label': 'Crea evento', 'attr': { 'class': 'btn btn-primary' } }) }}
</fieldset>

{{ form_end(form) }}
