{% extends 'stealCenter/layout.html.twig' %}

{% block h1 %}{{ 'Apertura pratica di furto' }}{% endblock %}
            
    {% block content %}

    <div class="row">
        <div class="col-lg-6">
            {% embed 'layout/ibox.html.twig' %}
                {% block ibox_title %}
                    {{ 'Conosci la targa?' }}
                {% endblock %}
                {% block ibox_content %}
                    {{ include("stealCenter/reporting/form.html.twig", {'form': form}) }}
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-lg-6">
            {% embed 'layout/ibox.html.twig' %}
                {% block ibox_title %}{{ 'Procedura con targa' }}{% endblock %}
                {% block ibox_content %}
                    {{ include("stealCenter/reporting/info.html.twig") }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {% embed 'layout/ibox.html.twig' %}
                {% block ibox_title %}
                    {{ 'Conosci nome e cognome cliente?' }}
                {% endblock %}
                {% block ibox_content %}
                    {{ include("stealCenter/reporting/formHolder.html.twig", {'formHolder': formHolder}) }}
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-lg-6">
            {% embed 'layout/ibox.html.twig' %}
                {% block ibox_title %}{{ 'Procedura con nome e cognome' }}{% endblock %}
                {% block ibox_content %}
                    {{ include("stealCenter/reporting/infoHolder.html.twig") }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ include("stealCenter/reporting/javascriptHolder.html.twig") }}
        {{ include("stealCenter/reporting/javascript.html.twig") }}
    {% endblock %}