<div>
    <p>La seguente procedura permette di aprire un evento di furto conoscendo il nome e cognome del cliente.</p>
    <p><b>STEP 1</b>: Inserire il nome ed il cognome e premere il pulsante "Step successivo". A questo punto il sistema verificherà i dati del cliente. Selezionarne una e premere il pulsante "Step successivo".</p>
    <p><b>STEP 2</b>: In questo step è presente un menù a tendina con la/e targa/e associata/e al cliente. E' necessario prendere visione con particolare attenzione a questo step per evitare di segnalare una targa errata. Selezionare una targa e premere il pulsante "Step successivo", altrimenti il pulsante "Step precedente" per tornare allo STEP 1 e modifcare la targa.</p>
    <p><b>STEP 3</b>: Selezionare dal menù a tendina il tipo di furto, eventuali note della denuncia e la data presunta del furto nel formato (GG/MM/YY) e premere il pulsante "Crea evento". Al termine di questo step, se nessuna notifica di errore è stata visualizzata, la pratica di furto verrà creata e l'operatore verrà reindirizzato al dettaglio dell'evento per la sua successiva gestione.</p>
    <ul>
        <li>Nome - Campo obbligatorio</li>
        <li>Cognome - Campo obbligatorio</li>
        <li>Tipo - Campo obbligatorio</li>
        <li>Note - Campo opzionale</li>
        <li>Data furto - Campo opzionale</li>
    </ul>
</div>