<div>
    <p>La seguente procedura permette di aprire un evento di furto conoscendo la targa.</p>
    <p><b>STEP 1</b>: Inserire la targa e premere il pulsante "Step successivo". A questo punto il sistema verificherà i dati della vettura.</p>
    <p><b>STEP 2</b>: Step riassuntivo dei dati della vettura. E' necessario prendere visione con particolare attenzione a questo step per evitare di segnalare una targa errata. Se i dati sono corretti premere il pulsante "Step successivo", altrimenti il pulsante "Step precedente" per tornare allo STEP 1 e modifcare la targa.</p>
    <p><b>N.B.</b> Se nessun dato per la vettura richiesta viene trovato la targa è probabilmente errata.</p>
    <p><b>STEP 3</b>: Selezionare dal menù a tendina il tipo di furto, eventuali note della denuncia e la data presunta del furto nel formato (GG/MM/YY) e premere il pulsante "Crea evento". Al termine di questo step, se nessuna notifica di errore è stata visualizzata, la pratica di furto verrà creata e l'operatore verrà reindirizzato al dettaglio dell'evento per la sua successiva gestione.</p>
    <ul>
        <li>Vettura - Campo obbligatorio</li>
        <li>Tipo - Campo obbligatorio</li>
        <li>Note - Campo opzionale</li>
        <li>Data furto - Campo opzionale</li>
    </ul>
</div>