<script type="text/javascript">

    // Set new style for select
    //$("#isa_steal_reporting_tipo").select2();
    //    $("#steal-reporting-form .chosen-hours-select").select2();


    $(document).ready(function () {

        $("#form-holder-reporting").steps({
            bodyTag: "fieldset",
            labels: {
                cancel: "Cancella",
                current: "Step corrente:",
                pagination: "Paginazione",
                finish: "Fine",
                next: "Step successivo",
                previous: "Step precedente",
                loading: "Attendi ..."
            },
            enableCancelButton: false,
            enableFinishButton: false,
            onStepChanging: function (event, currentIndex, newIndex)
            {
                var form = $(this);
                var name = $('#holder_reporting_name').val();
                var surname = $('#holder_reporting_surname').val();
                nextEnable();

                if ( (currentIndex == 0 || currentIndex == 2) && (name && surname) )
                {
                    (currentIndex == 2) ? $('#holder_reporting_plate option[value!=""]').remove() : null;
                    nextStep(name, surname);
                }

                // Clean up if user went backward before
                if (currentIndex < newIndex)
                {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                if (currentIndex > newIndex)
                {
                    if (currentIndex == 1)
                    {
                        $('#holder_reporting_plate option[value!=""]').remove();
                        return true;
                    }

                    if (currentIndex == 2)
                    {
                        return true;
                    }
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex)
            {

            }
        });

        function nextStep(name, surname) {
            var url = '{{ path('isastealcenter_voucher_json') }}';
            var hasStealCount = 0;
            var itemCount = 0;

            $.ajax({
                url: url,
                type: "GET",
                data: {
                        'name' : name,
                        'surname': surname
                      },
                dataType: 'json',
                success: function (response) {
                    if (response && response.cars.length !== 0)
                    {
                        $.each(response.cars, function (i, item)
                        {
                            var element = $('<option></option>');

                            if (item.hasSteal)
                            {
                                hasStealCount++;
                                element.val(item.plate).html('<b style="color:red">' + item.plate + ' - Evento di furto già presente</b>');
                                element.attr('disabled', 'disabled');
                            }
                            else
                            {
                                element.val(item.plate).html('<b>' + item.plate + '</b>');
                            }
                            itemCount = i + 1;

                            if (itemCount === hasStealCount || itemCount === 0)
                            {
                                nextDisable();
                            }

                            $('#holder_reporting_plate').append(element);
                        });

                    }
                    else
                    {
                        nextDisable();

                    }
                },
                error: function () {
                    alert("Errore nella ricerca..tornare indietro e riprovare");
                    return false; //this will prevent to go to next step
                }
            });
        }

        function nextEnable() {
            var next = $("#form-holder-reporting").find('a[href="#next-disabled"]');
            (next) ? next.attr("href", "#next") : null;
        }

        function nextDisable() {
            var next = $("#form-holder-reporting").find('a[href="#next"]');
            (next) ? next.attr("href", "#next-disabled") : null;
            $("#form-holder-reporting .actions ul > li + li").addClass("disabled").attr('aria-disabled', true);
            $('#form-holder-reporting .steps .current').nextAll().removeClass('done').addClass('disabled');
        }

        //Prepare dateInput events
        $("#holder_reporting_date").datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            autoclose: true,
            language: "it",
            format: 'dd/mm/yyyy'
        });

    });

</script>