<script type="text/javascript">

    // Set new style for select
    //$("#isa_steal_reporting_tipo").select2();
    //    $("#steal-reporting-form .chosen-hours-select").select2();


    $(document).ready(function () {
        $("body").addClass("mini-navbar");

        $("#form-car-reporting").steps({
            bodyTag: "fieldset",
            labels: {
                cancel: "Cancella",
                current: "Step corrente:",
                pagination: "Paginazione",
                finish: "Fine",
                next: "Step successivo",
                previous: "Step precedente",
                loading: "Attendi ..."
            },
            enableCancelButton: false,
            enableFinishButton: false,
            onStepChanging: function (event, currentIndex, newIndex)
            {
                var form = $(this);
                var plate = $("#car_reporting_plate");
                nextEnable();

                if ( (currentIndex == 0 || currentIndex == 2) && plate.val() ) {
                    nextStep(plate, currentIndex, newIndex);
                }

                // Clean up if user went backward before
                if (currentIndex < newIndex)
                {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                if (currentIndex > newIndex)
                {
                    if (currentIndex == 2) {
                        return true;
                    }
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex, responseData)
            {

            }
        });

        function nextStep(plate, currentIndex, newIndex) {
            var url = '{{ path('isastealcenter_car_json', {'plate': 'data'}) }}';
            var url = url.replace('data', plate.val());
            $("#form-car-reporting-p-1 >").remove();

            $.ajax({
                url: url,
                type: "GET",
                dataType: 'json',
                success: function (response) {
                    if ((newIndex == 1 && currentIndex == 0) || (newIndex == 1 && currentIndex == 2)) {
                        var next = $("#form-car-reporting").find('a[href="#next"]');
                        if (response.empty || !response.valid) {
                            (next) ? next.attr("href", "#next-disabled") : null;
                            $("#form-car-reporting .actions ul > li + li").addClass("disabled").attr('aria-disabled', true);
                            $('#form-car-reporting .steps .current').nextAll().removeClass('done').addClass('disabled');
                        }
                        $("#form-car-reporting-p-1").html(response.car);
                    }
                },
                error: function () {
                    form.find('#car_reporting_submit').css("display", "none");
                    alert("Errore nella ricerca..tornare indietro e riprovare");
                    return false; //this will prevent to go to next step
                }
            });
        }

        function nextEnable() {
            var next = $("#form-car-reporting").find('a[href="#next-disabled"]');
            (next) ? next.attr("href", "#next") : null;
        }

        //Prepare dateInput events
        $("#car_reporting_date").datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            autoclose: true,
            language: "it",
            format: 'dd/mm/yyyy'
        });

    });



</script>