

{{ form_start(form) }}

    <div class="form-group">
        <div class="col-md-9">{{ form_widget(form.user, { 'attr' : {'placeholder': 'Cerca utente' } } ) }}</div>
        <div class="col-md-3">{{ form_widget(form.submit, {  'label': 'Cerca', 'attr': { 'class': 'btn btn-primary' } }) }}</div>
    </div>

{{ form_end(form) }}
