{% extends 'admin/layout.html.twig' %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">            
            {{ include('admin/user/search/form.html.twig') }}
        </div>
    </div>
            
{% endblock %}

