{% extends 'admin/user/layout.html.twig' %}

{% block h1 %}{{parent()}}{% endblock %}
{% block content %}
    
    {% embed 'layout/ibox.html.twig' %}
        {% block ibox_title %}Creazione nuovo utente{% endblock %}

        {% block ibox_content %}  

            <ul class="list-inline text-right">
                <li class=""><a href="{{ path('admin_user') }}"><button type="button" class="btn btn-w-m btn-danger">Annulla</button></a></li>
            </ul>
            
            
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.emailSent) }}
            {{ form_row(form.userType) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.submit, {  'label': 'Salva dati utente', 'attr': { 'class': 'btn btn-primary' } }) }}
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}

{% endblock %}

