{% block htabs %}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            {% block tabs %}{% endblock %}
        </ul>
        <div class="tab-content">
            {% block tabContent %}{% endblock %}
        </div>
    </div>
{% endblock %}

