{% block ibox %}
<div class="ibox {% block ibox_class %}{% endblock %}">
    <div class="ibox-title">
    <h5>{% block ibox_title %}{% endblock %}</h5>
            <div class="ibox-tools">
                {% block ibox_close %}

                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>

                {% endblock ibox_close %}

                {% block ibox_tools %}{% endblock %}

            </div>
        </div>
        {% block ibox_nav %}{% endblock %}

        <div class="ibox-content">            
            {% block ibox_content %}{% endblock %}
        </div>
</div>
{% endblock %}