<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element  text-center">
                    <span><img alt="image" class="img-circle" src="{{ asset('assets/img/profile_small.jpg') }}" /></span>
                    <a href="{{ path('fos_user_profile_show') }}">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">
                                    {% if app.user %}{{ app.user.username }}{% endif %}
                                </strong>
                                {#<b class="caret"></b>#}
                            </span>
                        </span>
                    </a>
                </div>

                <div class="logo-element">
                    DMI
                </div>
            </li>
            {% block menulinks %}

                {% if is_granted('ROLE_ISASTEALCENTER') %}
                    <li>
                        <a href="#"><i class="fa fa-bullhorn"></i> <span class="nav-label">{{ 'Furti' }}</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {% if is_granted('ROLE_ADMIN_ISASTEALCENTER') %}
                                <li><a href="{{ path('isastealcenter_dashboard') }}">{{ 'Dashboard' }}</a></li>
                            {% endif %}
                            <li><a href="{{ path('isastealcenter_search') }}">{{ 'Segnala furto' }}</a></li>
                            <li><a href="{{ path('isa_steal_center_list_pending') }}">{{ 'Lista furti' }}</a></li>
                            {% if is_granted('ROLE_ADMIN_ISASTEALCENTER') %}
                                <li><a href="{{ path('isa_steal_center_list_closed') }}">{{ 'Archivio furti' }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="#"><i class="fa fa-meh-o"></i> <span class="nav-label">{{ 'Amministrazione' }}</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{{ path('admin_user') }}">{{ 'Gestisci utenti' }}</a></li>
                        </ul>
                    </li>
                {% endif %}

            {% endblock %}
        </ul>

    </div>
</nav>
