
{% for flash_message in app.session.flashbag.get('notice') %}<br/><div class="flash-notice text-danger">{{ flash_message }}</div>{% endfor %}
{% for flash_message in app.session.flashbag.get('success') %}
    <br/>
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('error') %}
    <br/>
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flash_message }}
    </div>
{% endfor %}