{% extends 'workshop/layout.html.twig' %}

{% block h1 %}{{ 'Gestione Furti' }}{% endblock %}

    {% block content %}
        
        <div style="width: 80%; margin: 50px auto;">

            HOME GESTIONE FURTI

        </div>

    {% endblock %}
