{% extends 'stealCenter/layout.html.twig' %}

{% block h1 %}{{ 'Dashboard' }}{% endblock %}
            
{% block content %}
    <div class="fh-breadcrumb">

        <div class="fh-column">
            <div class="full-height-scroll">
                <ul class="list-group elements-list" style="margin-bottom: 0">
                    <li class="list-group-item active">
                        <a data-toggle="tab" href="#tab-1">
                            <strong>{{ 'Audit' }}</strong>
                            <div class="small m-t-xs">
                                <p class="m-b-xs">
                                    Sezione dedicata ai dati di audit
                                    <br/>
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a data-toggle="tab" href="#tab-2">
                            <strong>{{ 'Report' }}</strong>
                            <div class="small m-t-xs">
                                <p class="m-b-xs">
                                    Qui puoi scaricare i dati delle pratiche "In lavorazione", "In attesa" e "Chiusi"
                                    <br/>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="full-height">
            <div class="full-height-scroll white-bg border-left">
                <div class="element-detail-box">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="data-table" data-table-url="{{ path('isastealcenter_dashboard_audit_table') }}"></div>
                                </div>
                            </div>
                        </div>

                        <div id="tab-2" class="tab-pane">
                            <div class="wrapper wrapper-content animated fadeIn">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% embed 'layout/htabs.html.twig' %}
                                            {% block tabs %}
                                                <li class="active"><a data-toggle="tab" href="#subtab-1">{{ 'In attesa' }}</a></li>
                                                <li class=""><a data-toggle="tab" href="#subtab-2">{{ 'In lavorazione' }}</a></li>
                                                <li class=""><a data-toggle="tab" href="#subtab-3">{{ 'Chiusi' }}</a></li>
                                            {% endblock %}
                                            {% block tabContent %}
                                                <div id="subtab-1" class="tab-pane active">
                                                    <div class="panel-body">
                                                        <h4>Cliccare sul pulsante "Report" per scaricare il report delle pratiche della sezione "In attesa"
                                                        <a class="btn btn-primary btn-outline" href="{{ path('isastealcenter_dashboard_pending_report') }}">
                                                            <i class="fa fa-download"></i>
                                                            <span>{{ 'Report' }}</span>
                                                        </a>
                                                        </h4>
                                                        <div class="data-table" data-table-url="{{ path('isastealcenter_dashboard_pending_table') }}"></div>
                                                    </div>
                                                </div>
                                                <div id="subtab-2" class="tab-pane">
                                                    <div class="panel-body">
                                                        <h4>Cliccare sul pulsante "Report" per scaricare il report delle pratiche della sezione "In lavorazione"
                                                            <a class="btn btn-primary btn-outline" href="{{ path('isastealcenter_dashboard_working_report') }}">
                                                                <i class="fa fa-download"></i>
                                                                <span>{{ 'Report' }}</span>
                                                            </a>
                                                        </h4>
                                                        <div class="data-table" data-table-url="{{ path('isastealcenter_dashboard_working_table') }}"></div>
                                                    </div>
                                                </div>
                                                <div id="subtab-3" class="tab-pane">
                                                    <div class="panel-body">
                                                        <h4>Cliccare sul pulsante "Report" per scaricare il report delle pratiche della sezione "Chiusi"
                                                            <a class="btn btn-primary btn-outline" href="{{ path('isastealcenter_dashboard_closed_report') }}">
                                                                <i class="fa fa-download"></i>
                                                                <span>{{ 'Report' }}</span>
                                                            </a>
                                                        </h4>
                                                        <div class="data-table" data-table-url="{{ path('isastealcenter_dashboard_closed_table') }}"></div>
                                                    </div>
                                                </div>
                                            {% endblock %}
                                        {% endembed %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('stealCenter/dashboard/javascripts.html.twig') }}
{% endblock %}
