<div class="filter" data-table="filter">
    {{ form(form) }}
</div>

{% if results|length %}
    <div class="container-fluid" style="margin-bottom: 1em">
        <div class="row">
            <table class="table" data-table="table">
                <thead>
                <tr>
                    <th>Targa</th>
                    <th>Seriale</th>
                    <th>Data creazione</th>
                    <th>Data evento</th>
                    <th>Utente</th>
                </tr>
                </thead>
                <tbody>
                {% for row in results %}
                    <tr class="" data-table="row" data-row-id="">
                        <td>{{ row.isaStealCarPlate }}</td>
                        <td>{{ row.isaStealDeviceSn }}</td>
                        <td>{{ row.isaStealInsertDate|dataOra }}</td>
                        <td>{{ row.isaStealDate|dataOra }}</td>
                        <td>{{ row.isaStealUser }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>Ci sono {{ tot }} Risultati </p>

            <div class="pager" data-table="pager">
                {{ pagination(filter.page, filter.limit, tot) }}
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">
        Non sono stati trovati risultati per questa ricerca.
    </div>
{% endif %}
