<div class="filter" data-table="filter">
    {{ form(audit.form) }}
</div>

{% if audit.results|length %}
    <div class="container-fluid" style="margin-bottom: 1em">
        <div class="row">
            <table class="table" data-table="table">
                <thead>
                    <tr>
                        <th>Operatore</th>
                        <th>Descrizione</th>
                        <th>Targa</th>
                        <th>Dispositivo</th>
                        <th>Data</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in audit.results %}
                        {%  set data = row.isaStealLogNote|unserialize %}
                        <tr class="" data-table="row" data-row-id="{{ row.isaStealLogId }}">
                            <td>{{ row.isaStealLogUser }}</td>
                            <td>{% if row.isaStealLogType is defined and row.isaStealLogType is not empty %}{{ row.isaStealLogType.isaStealLogTypeDescription }}{% else %}{{ '' }}{% endif %}</td>
                            <td>{% if row.isaStealId.isaStealCarPlate is defined and row.isaStealId.isaStealCarPlate is not empty %}{{ row.isaStealId.isaStealCarPlate }}{% else %}NULL{% endif %}</td>
                            <td>{% if row.isaStealId.isaStealDeviceSn is defined and row.isaStealId.isaStealDeviceSn is not empty %}{{ row.isaStealId.isaStealDeviceSn }}{% else %}NULL{% endif %}</td>
                            <td>{{ row.isaStealLogInsertDate|dataOra }}</td>
                            <td>
                                {% if data is defined and data is not empty %}
                                    {% if data is iterable %}
                                        {{ data.message }}
                                    {% else %}
                                        {{ data }}
                                    {% endif %}
                                {% else %}
                                    {{ 'Nota non presente' }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>Ci sono {{ audit.tot }} Risultati </p>

            <div class="pager" data-table="pager">
                {{ pagination(audit.filter.page, audit.filter.limit, audit.tot) }}
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">
        Non sono stati trovati risultati per questa ricerca.
    </div>
{% endif %}