{% extends 'admin/user/layout.html.twig' %}

{% block h1 %}{{parent()}}{% endblock %}
{% block content %}
    <div class="text-right">
    <ul class="list-inline">
        <li><a href="{{ path('admin_user_edit_recover', {'userId': user.id }) }}" class="btn btn-primary">Invio dati email</a></li>
        <li><a href="{{ path('admin_user_edit_delete', {'userId': user.id }) }}" class="btn btn-danger">Elimina utente</a></li>
     </ul>
    </div>

    {% embed 'layout/ibox.html.twig' %}
        {% block ibox_title %}Modifica dati utente: {{ user.username }}{% endblock %}
        {% block ibox_content %}  
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Recupero password</label>
                    <div class="col-sm-10">
                        <input value="{{ user.recover }}" disabled="disabled" class="form-control">
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Ultimo accesso</label>
                <div class="col-sm-10">
                    <input value="{{ user.lastLogin ? user.lastLogin|dataOra }}" disabled="disabled" class="form-control">
                </div>
            </div>

            {{ form_row(form.emailSent) }}
            {{ form_row(form.userType) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.submit, {  'label': 'Salva dati utente', 'attr': { 'class': 'btn btn-primary' } }) }}
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}

    {#<button class="btn btn-primary">Recupera password</button>
    <div class="hidden small">{{ user.recover }}</div>#}

{% endblock %}

