{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}DMISA Login{% endblock %}



{% block fos_user_content %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <h1 class="logo-name">{{ 'DMS' }}</h1>
        {#<h3>{{ 'ACCESSO UTENTI' }}</h3>#}

        <form class="m-t" role="form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" class="form-control" placeholder="Password" name="_password" required="required" />
            </div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <input type="submit" id="_submit" class="btn btn-primary block full-width m-b" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            <a href="{{ path('fos_user_resetting_request') }}"><small>{{ 'Dimenticato la password?' }}</small></a>
        </form>
    </div>    
{% endblock %}
                