{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container" style="margin-top: 150px">
        
        <div class="jumbotron text-center">
            <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
            <p><a href="{{ path('fos_user_security_login') }}" role="button" class="btn btn-primary btn-lg">Torna al login</a>
            </p>
        </div>
            
    </div>
{% endblock %}
