{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}



{% block fos_user_content %}
<div class="passwordBox animated fadeInDown">    
    <div class="ibox-content">
        <h2 class="font-bold">Richiedi reset password</h2>
        <p>Inserisci l'indirizzo email di registrazione e clicca sul pulsante reset. Riceverai una email con la nuova password</p>

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="m-t fos_user_resetting_request" role="form">
            <div class="form-group">
                {% if invalid_username is defined %}
                    <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                {% endif %}
                
                <input type="text" id="username" name="username" required="required" placeholder="Email address" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary block full-width m-b" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </form>
        
    </div>
</div>    
{% endblock fos_user_content %}
