{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}
<div class="passwordBox animated fadeInDown">    
    <div class="ibox-content">
        <h2 class="font-bold">Reset della password</h2>
        <p>Inserisci la tua nuova password</p>
       
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">{{ 'resetting.reset.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}        
        
    </div>
</div>    
{% endblock fos_user_content %}