{% extends 'stealCenter/layout.html.twig' %}

{% block bodyId 'isastealcenter-handle' %}
{% block h1 %}{{ 'Gestisci furto' }}{% endblock %}

    {% block content %}

        {% embed 'layout/ibox.html.twig' %}
            {% block ibox_title %}{{ 'Furto in carico' }}{% endblock %}
            {% block ibox_content %}
                {{ include ('stealCenter/handle/table.html.twig') }}
            {% endblock %}
        {% endembed %}

        <div class="row">
            <div class="col-lg-4">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Localizzazioni' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableLocalizations.html.twig", { 'tableUrl': path("isastealcenter_localizations_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-4">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'SOS' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableSos.html.twig", { 'tableUrl': path("isastealcenter_sos_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-4">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Crash' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableCrash.html.twig", { 'tableUrl': path("isastealcenter_crash_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

        </div>

        <div class="row">
            <div class="col-lg-3">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Tamper' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableTamper.html.twig", { 'tableUrl': path("isastealcenter_tamper_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-3">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Quadro' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableEngine.html.twig", { 'tableUrl': path("isastealcenter_engine_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-3">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Distacco alimentazione' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tablePower.html.twig", { 'tableUrl': path("isastealcenter_power_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-lg-3">
                {% embed 'layout/ibox.html.twig' %}
                    {% block ibox_title %}{{ 'Spostamento a motore fermo' }}{% endblock %}
                    {% block ibox_content %}
                        {{ include("stealCenter/handle/tableMoving.html.twig", { 'tableUrl': path("isastealcenter_moving_json", {'stealId': event_info.isa_steal_id}) }) }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>

         <div class="row">
             <div class="col-lg-6" id="e-traking">
                 <div class="ibox float-e-margins">
                     <div class="ibox-title">
                         <h5>{{ 'Emergency tracking' }}</h5>
                         <div class="ibox-tools">
                             {% if etracking is defined and etracking is not null %}

                                 {% if etracking.error == 1 %}
                                     <span class="notes"><b>{{ etracking.message }}</b></span>
                                     <select data-placeholder="Tempo.." class="chosen-time-select col-sm-2" tabindex="2" disabled="disabled">
                                         <option value=""></option>
                                         <option value="30">30</option>
                                         <option value="60">60</option>
                                     </select>
                                     <button class="btn btn-primary" id="emergency-tracking-button" type="submit" disabled="disabled">loading..</button>
                                 {% endif %}

                                 {% if (etracking.status == 1 and (etracking.type == 'ON' or etracking.type == 'OFF')) or (etracking.status == 0 and etracking.nodata == 1) %}
                                     <span class="notes"><b>{{ etracking.message }}</b></span>
                                     <select data-placeholder="Tempo.." class="chosen-time-select col-sm-2" tabindex="2">
                                         <option value=""></option>
                                         <option value="30" {% if etracking.status == 1 and etracking.time == '30' %}selected{% endif %}>30</option>
                                         <option value="60" {% if etracking.status == 1 and etracking.time == '60' %}selected{% endif %}>60</option>
                                     </select>
                                     <button class="btn btn-primary" id="emergency-tracking-button" type="submit">
                                         {% if etracking.type == 'OFF' %}Attiva{% else %}Disattiva{% endif %}
                                     </button>

                                 {% elseif etracking.status == 0 and etracking.nodata == 0 %}
                                     <span class="notes"><b>{{ etracking.message }}</b></span>
                                     <select data-placeholder="Tempo.." class="chosen-time-select col-sm-2" tabindex="2" disabled="disabled">
                                         <option value=""></option>
                                         <option value="30">30</option>
                                         <option value="60">60</option>
                                     </select>
                                     <button class="btn btn-primary" id="emergency-tracking-button" type="submit" disabled="disabled">loading..</button>

                                {% else %}
                                    <span class="notes"><b>{{ etracking.message }}</b></span>
                                    <select data-placeholder="Tempo.." class="chosen-time-select col-sm-2" tabindex="2" disabled="disabled">
                                        <option value=""></option>
                                        <option value="30">30</option>
                                        <option value="60">60</option>
                                    </select>
                                    <button class="btn btn-primary" id="emergency-tracking-button" type="submit" disabled="disabled">Non definito</button>
                                {% endif %}

                             {% endif %}
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-6">
                 <div class="ibox float-e-margins">
                     <div class="ibox-title">
                         <h5>{{ 'Cosa vuoi fare?' }}</h5>
                         <div class="ibox-tools">
                             <button class="btn btn-warning" id="return-to-list-button" type="submit">{{ 'Chiudi e metti in attesa' }}</button>
                             <button class="btn btn-primary" id="close-event-button" type="submit">{{ 'Chiudi e archivia' }}</button>
                         </div>
                     </div>
                     <div id="loc-data"></div>
                 </div>
             </div>
         </div>

        <div class="google-map" id="map-canvas"></div>
    {% endblock %}


    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ googleApiKey }}"></script>
        {{ include('stealCenter/handle/javascripts.html.twig') }}

    {% endblock %}