
<script type="text/javascript">
    $(document).ready(function() {
        var $lastCommandId = false;
        $sUrl = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json";
        table = $('#isasc-handle-table');
        tableLocalizations = $('#isasc-localizations-table');
        tableSos = $('#isasc-sos-table');
        tableCrash = $('#isasc-crash-table');
        tableTamper = $('#isasc-tamper-table');
        tableEngine = $('#isasc-engine-table');
        tablePower = $('#isasc-power-table');
        tableMoving = $('#isasc-moving-table');
        $timeDropdown = $("#e-traking .chosen-time-select").select2();
        $buttons = $("#return-to-list-button, #close-event-button");
        $eTrackingButton =  $("#emergency-tracking-button");
        $event_id = '{{ event_info.isa_steal_id }}';
        $getStatusUrl = '{{ path('isastealcenter_tracking_status', {'isaStealId': 'isi'}) }}';
        $getStatusUrl = $getStatusUrl.replace('isi', $event_id);
        $indexEventUrl = '{{ path('isa_steal_center_list') }}';
        $trackingTime = 30000;
        $buttonDelay = 250;
        $status = '{{ etracking.status }}';
        $type = '{{ etracking.type }}';
        $time = '{{ etracking.time }}';

        {% if etracking is defined and etracking is not null %}
            {% if etracking.time is defined and etracking.time is not null %}
                $trackingTime = '{{ etracking.time }}000';
            {% endif %}
            {% if etracking.status == 0 and etracking.nodata == 0 %}
                $type = getTrackingStatus(null, 0);
            {% endif %}
        {% endif %}

        $("body").addClass("mini-navbar");

        initTables();
        clearRecursiveEvents();
        renderMap('');
        refreshMap();
        refreshTable(tableLocalizations);
        refreshSosTable(tableSos);
        refreshCrashTable(tableCrash);
        refreshTamperTable(tableTamper);
        refreshEngineTable(tableEngine);
        refreshPowerTable(tablePower);
        refreshMovingTable(tableMoving);
    });
    
    function initTables() {
        table.DataTable({ "dom": 'rt' });
        tableLocalizations.DataTable({
            oLanguage: {
                oPaginate: {
                    sFirst: "Inizio",
                    sLast: "Fine",
                    sNext: "Successiva",
                    sPrevious: "Precedente"
                },
                sUrl: $sUrl
            },
            "dom": 'lrtip',
            "processing": true,
            "serverSide": true,
            "ajax": tableLocalizations.attr('data-json'),
            "columns": [
                {"data": "btimeStamp", "orderable": false},
                {"data": "blat", "orderable": false},
                {"data": "blong", "orderable": false},
                {"data": "address", "orderable": false}
            ]
        });
        tableSos.DataTable({
            oLanguage: {
                oPaginate: {
                    sFirst: "Inizio",
                    sLast: "Fine",
                    sNext: "Successiva",
                    sPrevious: "Precedente"
                },
                sUrl: $sUrl
            },
            "dom": 'lrtip',
            "processing": true,
            "serverSide": true,
            "ajax": tableSos.attr('data-json'),
            "columns": [
                {"data": "btimeStamp", "orderable": false},
                {"data": "blat", "orderable": false},
                {"data": "blong", "orderable": false},
                {"data": "address", "orderable": false}
            ]
        });
        tableCrash.DataTable({
            oLanguage: {
                oPaginate: {
                    sFirst: "Inizio",
                    sLast: "Fine",
                    sNext: "Successiva",
                    sPrevious: "Precedente"
                },
                sUrl: $sUrl
            },
            "dom": 'lrtip',
            "processing": true,
            "serverSide": true,
            "ajax": tableCrash.attr('data-json'),
            "columns": [
                {"data": "btimeStamp", "orderable": false},
                {"data": "blat", "orderable": false},
                {"data": "blong", "orderable": false},
                {"data": "address", "orderable": false}
            ]
        });
        tableTamper.DataTable({
            oLanguage: {
                oPaginate: {
                    sFirst: "Inizio",
                    sLast: "Fine",
                    sNext: "Successiva",
                    sPrevious: "Precedente"
                },
                sUrl: $sUrl
            },
            "dom": 'lrtip',
            "processing": true,
            "serverSide": true,
            "ajax": tableTamper.attr('data-json'),
            "columns": [
                {"data": "btimeStamp", "orderable": false},
                {"data": "descStatoZB", "orderable": false},
                {"data": "blat", "orderable": false},
                {"data": "blong", "orderable": false},
                {"data": "address", "orderable": false}
            ]
        });
        tablePower.DataTable({
            oLanguage: {
                oPaginate: {
                    sFirst: "Inizio",
                    sLast: "Fine",
                    sNext: "Successiva",
                    sPrevious: "Precedente"
                },
                sUrl: $sUrl
            },
            "dom": 'lrtip',
            "processing": true,
            "serverSide": true,
            "ajax": tablePower.attr('data-json'),
            "columns": [
                {"data": "btimeStamp", "orderable": false},
                {"data": "blat", "orderable": false},
                {"data": "blong", "orderable": false},
                {"data": "address", "orderable": false}
            ]
        });
        tableEngine.DataTable({
            oLanguage: {
                oPaginate: {
                    sFirst: "Inizio",
                    sLast: "Fine",
                    sNext: "Successiva",
                    sPrevious: "Precedente"
                },
                sUrl: $sUrl
            },
            "dom": 'lrtip',
            "processing": true,
            "serverSide": true,
            "ajax": tableEngine.attr('data-json'),
            "columns": [
                {"data": "btimeStamp", "orderable": false},
                {"data": "descStatoZB", "orderable": false},
                {"data": "blat", "orderable": false},
                {"data": "blong", "orderable": false},
                {"data": "address", "orderable": false}
            ]
        });
        tableMoving.DataTable({
            oLanguage: {
                oPaginate: {
                    sFirst: "Inizio",
                    sLast: "Fine",
                    sNext: "Successiva",
                    sPrevious: "Precedente"
                },
                sUrl: $sUrl
            },
            "dom": 'lrtip',
            "processing": true,
            "serverSide": true,
            "ajax": tableMoving.attr('data-json'),
            "columns": [
                {"data": "btimeStamp", "orderable": false},
                {"data": "blat", "orderable": false},
                {"data": "blong", "orderable": false},
                {"data": "address", "orderable": false}
            ]
        });
    }

    function clearRecursiveEvents() {
        (typeof refreshMapId !== 'undefined') ? clearInterval(refreshMapId) : null;
        (typeof refreshTableId !== 'undefined') ? clearInterval(refreshTableId) : null;
        (typeof refreshSosTableId !== 'undefined') ? clearInterval(refreshSosTableId) : null;
        (typeof refreshCrashTableId !== 'undefined') ? clearInterval(refreshCrashTableId) : null;
        (typeof refreshTamperTableId !== 'undefined') ? clearInterval(refreshTamperTableId) : null;
        (typeof refreshEngineTableId !== 'undefined') ? clearInterval(refreshEngineTableId) : null;
        (typeof refreshPowerTableId !== 'undefined') ? clearInterval(refreshPowerTableId) : null;
        (typeof refreshMovingTableId !== 'undefined') ? clearInterval(refreshMovingTableId) : null;
    }

    function refreshMap() {
        if ($type == 'ON' && $status == 1 && typeof $time !== 'undefined') {
            (typeof refreshMapId !== 'undefined') ? clearInterval(refreshMapId) : null;

            refreshMapId = setInterval(function () {
                var data = getDataMap($event_id);
                renderMap(data);
            }, $time + "000");
        }
    }

    function refreshTable() {
        if ($type == 'ON' && $status == 1 && typeof $time !== 'undefined') {
            (typeof refreshTableId !== 'undefined') ? clearInterval(refreshTableId) : null;

            refreshTableId = setInterval(function () {
                tableLocalizations.DataTable().ajax.reload(null, false);
            }, $time + "000");
        }
    }

    function refreshSosTable() {
        if ($type == 'ON' && $status == 1 && typeof $time !== 'undefined') {
            (typeof refreshSosTableId !== 'undefined') ? clearInterval(refreshSosTableId) : null;

            refreshSosTableId = setInterval(function () {
                tableSos.DataTable().ajax.reload(null, false);
            }, $time + "000");
        }
    }

    function refreshCrashTable() {
        if ($type == 'ON' && $status == 1 && typeof $time !== 'undefined') {
            (typeof refreshCrashTableId !== 'undefined') ? clearInterval(refreshCrashTableId) : null;

            refreshCrashTableId = setInterval(function () {
                tableCrash.DataTable().ajax.reload(null, false);
            }, $time + "000");
        }
    }

    function refreshTamperTable() {
        if ($type == 'ON' && $status == 1 && typeof $time !== 'undefined') {
            (typeof refreshTamperTableId !== 'undefined') ? clearInterval(refreshTamperTableId) : null;

            refreshTamperTableId = setInterval(function () {
                tableTamper.DataTable().ajax.reload(null, false);
            }, $time + "000");
        }
    }

    function refreshEngineTable() {
        if ($type == 'ON' && $status == 1 && typeof $time !== 'undefined') {
            (typeof refreshEngineTableId !== 'undefined') ? clearInterval(refreshEngineTableId) : null;

            refreshEngineTableId = setInterval(function () {
                tableEngine.DataTable().ajax.reload(null, false);
            }, $time + "000");
        }
    }

    function refreshPowerTable() {
        if ($type == 'ON' && $status == 1 && typeof $time !== 'undefined') {
            (typeof refreshPowerTableId !== 'undefined') ? clearInterval(refreshPowerTableId) : null;

            refreshPowerTableId = setInterval(function () {
                tablePower.DataTable().ajax.reload(null, false);
            }, $time + "000");
        }
    }

    function refreshMovingTable() {
        if ($type == 'ON' && $status == 1 && typeof $time !== 'undefined') {
            (typeof refreshMovingTableId !== 'undefined') ? clearInterval(refreshMovingTableId) : null;

            refreshMovingTableId = setInterval(function () {
                tableMoving.DataTable().ajax.reload(null, false);
            }, $time + "000");
        }
    }

    function arraysCompare(array1, array2) {
        var foo = [];
        var i = 0;
        jQuery.grep(array2, function(el) {
            if (jQuery.inArray(el, array1) == -1) foo.push(el);
            i++;
        });

        console.log(" Le differenze sono: " + foo);
    }

    function multidimensionalArraysCompare(array_old, array_new) {
        $.each(array_old, function(index, new_obj) {
            var old_id = new_obj['id'];
            var found = false;
            $.each(array_new, function(new_index, new_obj) {
                if (new_obj['id'] == old_id) {
                    found = true;
                }
            });
            if (!found) {
                console.log(old_id + " non esiste nel nuovo array");
            }
        });
    }

    function renderMap($data) {
        if ($data) {
            google.maps.event.addDomListener(getDataMap, 'load', init($data));
            return false;
        }

        google.maps.event.addDomListener(document, 'load', init(''));
    }

    function init($data) {
        $("#map-canvas").empty();

        if ($data) {
            var localization_info = $data.localization_info;
            var event_info = $data.event_info;
        } else {
            var localization_info = {{ localization_info|json_encode|raw }};
            var event_info = {{ event_info|json_encode|raw }};
        }

        var isaStealLat = (event_info) ? (event_info.isa_steal_lat) : '';
        var isaStealLong = (event_info) ? (event_info.isa_steal_long) : '';
        var isaStealCarPlate = (event_info) ? (event_info.isa_steal_car_plate) : '';
        var isaStealDate = (event_info && event_info.isa_steal_date) ? (event_info.isa_steal_date) : '';
        var $loc_address  = '{{ address }}';
        var $event_address = '{{ steal_address }}';
        var loc_icon = '{{ asset('img/marker-car_loc.png') }}';
        var event_icon = '{{ asset('img/sportutilityvehicle.png') }}';
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap'
        };

        // Set localization data in div
        $("#loc-data").data("blat", localization_info['blat']);
        $("#loc-data").data("blong", localization_info['blong']);
        $("#loc-data").data("btimestamp", localization_info['btimeStamp']);

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        map.setTilt(45);

        // Multiple Markers
        var markers = [
            ['', localization_info['blat'], localization_info['blong'],loc_icon],
            ['', isaStealLat, isaStealLong, event_icon]
        ];

        // Info Window Content
        var infoWindowContent = [
            [
                '<div id="infomap-head">' +
                '<hr>Localizzazione veicolo: <b>' + isaStealCarPlate + '</b>' +
                '<div id="lastContact">Ultima localizzazione: <b>' + localization_info.receiveTimeStamp + '</b>' +
                '</div>' +
                '<div id="infomap-content">' +
                '</b></div><div id="infomap-latlong">lat: <b>' + localization_info.blat + '</b>, long: <b>' + localization_info.blong + '</b></div>' +
                '<div id="address">Indirizzo: <b>' + $loc_address + '</b></div>' +
                '</div>'
            ],
            [
                '<div id="infomap-head">' +
                '<hr>Localizzazione evento veicolo: <b>' + isaStealCarPlate + '</b>' +
                '<div id="eventContact">Data evento: <b>' + isaStealDate + '</b>' + '' +
                '</div>' +
                '<div id="infomap-content">' + '</b></div>' +
                '<div id="infomap-latlong">lat: <b>' + isaStealLat + '</b>, long: <b>' + isaStealLong + '</b></div>' +
                '<div id="address">Indirizzo: <b>' + $event_address + '</b></div>' +
                '</div>'
            ]
        ];

        // Display multiple markers the a map
        var infoWindow = new google.maps.InfoWindow(), marker, i;

        // Loop through our array of markers & place each one on the map
        for( i = 0; i < markers.length; i++ ) {
            if(markers[i][1] == 0 && markers[i][2] == 0) {
                console.log("marker 0 0");
            } else {
                var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                bounds.extend(position);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: markers[i][0],
                    icon: markers[i][3]
                });

                // Allow each marker to have an info window
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infoWindow.setContent(infoWindowContent[i][0]);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

                // Automatically center the map fitting all markers on the screen
                map.fitBounds(bounds);
            }

        }

        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
            this.setZoom(12);
            google.maps.event.removeListener(boundsListener);
        });
    }

    function getDataMap($event_id) {
        var $url = '{{ path('isastealcenter_xhr_maps', {'isaStealId': 'isi'}) }}';
        var $url = $url.replace('isi', $event_id);

        $.ajax({
            type: "GET",
            url: $url,
            dataType: 'json',
            beforeSend: function () {
                $buttons.prop("disabled",true);
            },
            success: function (data) {
                $buttons.prop("disabled",false);

                if (data.error) {
                    var message = data.message;
                    getErrorNotification(message);

                    return false;
                }

                return data;
            },
            error: function (request, status, thrownError) {
                $buttons.prop("disabled",false);
                getErrorNotification(status + " - " + thrownError);
                return false;
            }
        });
    }

    $(document).on("click", "#close-event-button", function () {
        var $url = '{{ path('isastealcenter_close', {'isaStealId': 'isi'}) }}';
        var $url = $url.replace('isi', $event_id);

        swal({
            title: "Chiusura evento",
            text: "Inserisci la causale di chiusura evento di furto",
            type: "input",
            showLoaderOnConfirm: true,
            showCancelButton: true,
            closeOnConfirm: false,
            animation: "slide-from-top",
            inputPlaceholder: "Causale di chiusura.."
        },
        function(inputValue) {
            if (inputValue === false)
                return false;
            if (inputValue === "") {
                swal.showInputError("Devi inserire una causale di chiusura!");
                return false
            }

            closeEvent($url, inputValue);
        });
        return false;
    });

    function closeEvent($url, $inputValue) {
        $.ajax({
            type: "POST",
            url: $url,
            data: {
                'BLat': $("#loc-data").data("blat"),
                'BLong': $("#loc-data").data("blong"),
                'inputValue': $inputValue
            },
            dataType: 'json',
            beforeSend: function () {
                $buttons.prop("disabled",true);
            },
            success: function (data) {
                if (data.error) {
                    $buttons.prop("disabled",false);
                    getErrorNotification(data.message);
                    swal("Chiusura evento", "Errore nella chiusura dell'evento..Riprovare o contattare l'assistenza ", "error");
                    return false;
                }

                clearRecursiveEvents();
                swal("Chiusura evento", "Evento di furto chiuso con causale: " + $inputValue, "success");
                swal.close();
                self.close();
                $(window.location).attr('href', $indexEventUrl);
                return true;
            },
            error: function (request, status, thrownError) {
                $buttons.prop("disabled",false);
                getErrorNotification(status + " - " + thrownError);
                return false;
            }
        });
    }

    $(document).on("click", "#return-to-list-button", function() {

        var $url = '{{ path('isastealcenter_awaiting', {'isaStealId': 'isi'}) }}';
        var $url = $url.replace('isi', $event_id);

        $.ajax({
            type: "POST",
            url: $url,
            dataType: 'json',
            beforeSend: function () {
                $buttons.prop("disabled",true);
            },
            success: function (data) {
                if (data.error == 0) {
                    clearRecursiveEvents();
                    getSuccessNotification("Sospensione evento di furto avvenuta correttamente");
                    setTimeout(function() {
                        self.close();
                    }, 1000);
                } else {
                    getErrorNotification(data.message);
                    $buttons.prop("disabled",false);
                }
            },
            error: function (request, status, thrownError) {
                $buttons.prop("disabled",false);
                getErrorNotification(status + " - " + thrownError);
            }
        });
        return false;
    });

    $(document).on("change", "#e-traking .chosen-time-select", function() {

        if ($type == 'ON' && $status == 1 && $time && $(this).val() != $time) {
            swal({
                title: "Modifica tempo di localizzazione",
                text: "Stai per modificare il tempo di localizzazione del dispositivo. Sei sicuro di voler procedere?",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: true,
                showLoaderOnConfirm: false
            },
            function(){
                var $changeTimeUrl = '{{ path('isastealcenter_tracking_set_command', {'isaStealId': 'isi', 'time': 'time', 'status': 'OFF'}) }}';
                $changeTimeUrl = $changeTimeUrl.replace('isi', $event_id);
                $changeTimeUrl = $changeTimeUrl.replace('time', $timeDropdown.val());

                trackingSetCommand($changeTimeUrl);
            });
        }
        return false;
    });

    $(document).on("click", "#emergency-tracking-button", function() {
        $("#e-traking .notes").empty();

        var $url = '{{ path('isastealcenter_tracking_set_command', {'isaStealId': 'isi', 'time': 'time', 'status': 'sts'}) }}';
        $url = $url.replace('isi', $event_id);
        $url = $url.replace('time', $timeDropdown.val());
        $url = $url.replace('sts', $type);

        if ($("#e-traking .chosen-time-select").val()) {
            trackingSetCommand($url);
        } else {
            $("#e-traking .notes").empty().html("<b>Devi selezionare un tempo</b>");
        }
        return false;
    });

    function trackingSetCommand($url) {
        $("#e-traking .notes").empty();
        $.ajax({
            type: "POST",
            url: $url,
            dataType: "json",
            beforeSend: function() {
                $timeDropdown.prop("disabled", true);
                $eTrackingButton.button("loading");
            },
            success: function(data) {
                var $count = 0;

                if (data.error) {
                    $eTrackingButton.button("reset");

                    setTimeout(function() {
                        $timeDropdown.prop("disabled", false);
                        $eTrackingButton.html("Non definito").prop("disabled", true);
                        $("#e-traking .notes").append(data.message);
                    }, $buttonDelay);

                    return false;
                }

                getTrackingStatus(data.commandId, $count);
            },
            error: function(request, status, thrownError) {
                $eTrackingButton.button("reset");

                setTimeout(function() {
                    $timeDropdown.prop("disabled", false);
                    $eTrackingButton.html('Non definito').prop("disabled", true);
                    $("#e-traking .notes").html("<b>" + thrownError + "</b>");
                }, $buttonDelay);

                return false;
            }
        });
    }

    function getTrackingStatus($commandId, $count) {
        if ($count > 120) {
            $eTrackingButton.button("reset");

            setTimeout(function() {
                $timeDropdown.prop("disabled", false);
                $eTrackingButton.html('Non definito').prop("disabled", true);
                $("#e-traking .notes").empty().html("<b>Timeout per numero di tentativi</b>");
            }, $buttonDelay);

            return false;
        }

        $.ajax({
            type: "GET",
            url: $getStatusUrl,
            data: {
              'commandId': $commandId
            },
            dataType: "json",
            beforeSend: function() {
                if ($count == 0) {
                    $("#e-traking .notes").empty().html("<b>Inizializzazione in corso...</b>");
                }
                $eTrackingButton.button("loading");
            },
            success: function(data) {
                if ($count == 0) {
                    $("#e-traking .notes").empty().html("<b>" + data.message + "</b> (tentativo " + $count + ")");
                }

                if (data.error) {
                    $eTrackingButton.button("reset");
                    setTimeout(function() {
                        $timeDropdown.prop("disabled", false);
                        $eTrackingButton.html('Non definito').prop("disabled", true);
                        $("#e-traking .notes").empty().html("<b>" + data.message + "</b>");
                    }, $buttonDelay);

                    return 'error';
                }

                if (data.status == 'pending') {
                    $timeDropdown.prop("disabled", true);
                    setTimeout(function() {
                        $count++;
                        $("#e-traking .notes").empty().html("<b>" + data.message + "</b> (tentativo " + $count + ")");
                        getTrackingStatus($commandId, $count);
                    }, $trackingTime);

                    return 'pending';
                }

                $eTrackingButton.button("reset");
                (!data.status) ? $type = 'OFF' : $type = 'ON';
                (data.time) ? $time = data.time : $time = null;

                setTimeout(function() {
                    $timeDropdown.prop("disabled", false);
                    ($time) ? $("#e-traking .chosen-time-select").val($time) : $("#e-traking .chosen-time-select").select2("val", "");
                    (!data.status) ? $eTrackingButton.html('Attiva') : $eTrackingButton.html('Disattiva');
                    $("#e-traking .notes").empty().html("<b>" + data.message + "</b>");
                    if ($type == 'OFF') {
                        clearRecursiveEvents();
                    }

                    refreshMap();
                    refreshTable(tableLocalizations);
                    refreshTamperTable(tableTamper);
                    refreshEngineTable(tableEngine);
                    refreshPowerTable(tablePower);
                    refreshMovingTable(tableMoving);
                }, $buttonDelay);

                return $type;
            },
            error: function(request, status, thrownError) {
                $eTrackingButton.button("reset");

                setTimeout(function() {
                    $timeDropdown.prop("disabled", false);
                    $eTrackingButton.html('Non definito');
                    $("#e-traking .notes").empty().html("<b>" + thrownError + "</b>");
                }, $buttonDelay);

                return 'error';
            }
        });
    }

</script>