<div class="table-responsive">
    <table class="table table-striped table-hover" id="isasc-tamper-table" data-json="{{ tableUrl }}">
        <thead>
        <tr>
            <th>{{ 'Data e ora' }}</th>
            <th>{{ 'Descrizione' }}</th>
            <th>{{ 'Lat' }}</th>
            <th>{{ 'Long' }}</th>
            <th>{{ 'Indirizzo' }}</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>