<div class="table-responsive">
    <table class="table table-striped table-hover" id="isasc-handle-table">
        <thead>
        <tr>
            <th>{{ 'Targa' }}</th>
            <th>{{ 'Modello' }}</th>
            <th>{{ 'Colore' }}</th>
            <th>{{ 'Seriale' }}</th>
            <th>{{ 'Numero polizza' }}</th>
            <th>{{ 'Intestatario' }}</th>
            <th>{{ 'Telefono' }}</th>
            <th>{{ 'Tipologia' }}</th>
            <th>{{ 'Data evento' }}</th>
            <th>{{ 'Operatore' }}</th>
            <th>{{ 'Stato' }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% if event_info.isa_steal_car_plate is defined and event_info.isa_steal_car_plate is not null %}{{ event_info.isa_steal_car_plate }}{% else %}{{ 'Non presente' }}{% endif %}</td>
                <td>{% if event_info.isa_steal_car_model is defined and event_info.isa_steal_car_model is not null %}{{ event_info.isa_steal_car_model }}{% else %}{{ 'Non presente' }}{% endif %}</td>
                <td>{% if event_info.isa_steal_car_color is defined and event_info.isa_steal_car_color is not null %}{{ event_info.isa_steal_car_color }}{% else %}{{ 'Non presente' }}{% endif %}</td>
                <td>{% if event_info.isa_steal_device_sn is defined and event_info.isa_steal_device_sn is not null %}{{ event_info.isa_steal_device_sn }}{% else %}{{ 'Non presente' }}{% endif %}</td>
                <td>{% if event_info.isa_steal_car_insurance_number is defined and event_info.isa_steal_car_insurance_number is not null %}{{ event_info.isa_steal_car_insurance_number }}{% else %}{{ 'Non presente' }}{% endif %}</td>
                <td>{% if event_info.isa_steal_holder_name is defined and event_info.isa_steal_holder_name is not null %}{{ event_info.isa_steal_holder_name }}{% else %}{{ 'Non presente' }}{% endif %}</td>
                <td>{% if event_info.isa_steal_holder_tel is defined and event_info.isa_steal_holder_tel is not null %}{{ event_info.isa_steal_holder_tel }}{% else %}{{ 'Non presente' }}{% endif %}</td>
                <td>{{ event_info.isa_steal_type.isa_steal_type_description }}</td>
                {%  if event_info.isa_steal_date is defined and event_info.isa_steal_date is not null %}
                    <td>{{ event_info.isa_steal_date|data }}</td>
                {% else %}
                    <td>{{ '---' }}</td>
                {% endif %}
                {% if event_info.isa_steal_user is defined and event_info.isa_steal_user is not null %}
                    <td>{{ event_info.isa_steal_user }}</td>
                {% else %}
                    <td>{{ '---' }}</td>
                {% endif %}
                <td>{{ event_info.isa_steal_status.isa_steal_status_description }}</td>
            </tr>
        </tbody>
    </table>
</div>