{% block subject %}START_UP progetto Viaggia Con Me {% endblock %}

{% block body_text %}
{% autoescape false %}

Spett.le Officina

siamo lieti di comunicarle che il progetto Viaggia con Me  partirà ufficialmente il giorno 27 maggio 2016.

Il dispositivo  “Viaggia con Me” prodotto e distribuito da AC SPA, è parte integrante del progetto assicurativo di Banca Intesa , che prevede l’installazione di una box a bordo delle vetture dei clienti che sottoscrivono una polizza auto.
I prodotti da installare saranno inviati ogni volta che un cliente sceglie la vostra officina. Per le attività di prenotazione appuntamenti, installazione, collaudo, sostituzione o disinstallazione è necessario utilizzare la piattaforma DMS a cui dovete accedere utilizzando il link allegato

{{ url }}

Di seguito le vostre credenziali di accesso alla piattaforma.

Username:  {{ user.username }}
Password:  {{ user.plainPassword }}

Nella sezione manuali potete consultare e/o stampare i manuali di installazione ed  i manuali di utilizzo della piattaforma.
L’installazione dovrà essere eseguita in conformità ai manuali pubblicati. Alla fine della procedura di collaudo (da eseguire sulla piattaforma DMS) verrà stampato un certificato di corretta installazione che dovrà essere firmato e rilasciato al cliente insieme al manuale di utilizzo della box.

Per supporto tecnico chiamate Il numero verde 800 508 741

Attivo dal lunedì al venerdì dalle 9.00 alle 18.00
    
{% endautoescape %}
{% endblock %}

{% block body_html %}
    
<p>Spett.le Officina</p>
<p>siamo lieti di comunicarle che il progetto <i>Viaggia con Me</i> partirà ufficialmente il giorno 27 maggio 2016.</p>

<p>Il dispositivo  “Viaggia con Me” prodotto e distribuito da AC SPA, è parte integrante del progetto assicurativo di Banca Intesa , che prevede l’installazione di una box a bordo delle vetture dei clienti che sottoscrivono una polizza auto.</p>
<p>I prodotti da installare saranno inviati ogni volta che un cliente sceglie la vostra officina. Per le attività di prenotazione appuntamenti, installazione, collaudo, sostituzione o disinstallazione è necessario utilizzare la piattaforma DMS a cui dovete accedere utilizzando il link allegato</p>

<p><a href="{{ url }}">{{ url }}</a></p>

<p>Di seguito le vostre credenziali di accesso alla piattaforma.</p>

<p>Username:  {{ user.username }}<br />
Password:  {{ user.plainPassword }}</p>

<p>Nella sezione manuali potete consultare e/o stampare i manuali di installazione ed  i manuali di utilizzo della piattaforma.</p>
<p>L’installazione dovrà essere eseguita in conformità ai manuali pubblicati. Alla fine della procedura di collaudo (da eseguire sulla piattaforma DMS) verrà stampato un certificato di corretta installazione che dovrà essere firmato e rilasciato al cliente insieme al manuale di utilizzo della box.</p>

<p>Per supporto tecnico chiamate Il numero verde 800 508 741</p>

<p>Attivo dal lunedì al venerdì dalle 9.00 alle 18.00</p>
   

{% endblock %}