{% block filter_widget %}
    {{ block('filtermodel_widget') }}
{% endblock filter_widget %}

{% block filtermodel_widget %}

<div class="container-fluid" style="margin-bottom: 1em">

    <div class="row ibox-content m-b-sm border-bottom">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-left">
            <div class="form-group">
                <label class="font-noraml">{{ form_label(form.dateRange.start) }}</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{{ form_widget(form.dateRange.start, { 'attr': { 'data-table':  'filter-range' } }) }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-left">
            <div class="form-group">
                <label class="font-noraml">{{ form_label(form.dateRange.end) }}</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{{ form_widget(form.dateRange.end, { 'attr': { 'data-table':  'filter-range' } }) }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
            <fieldset class="form-inline">
                <div class="form-group">
                    <label>Mostra</label>
                    {{ form_widget(form.limit, { 'attr': { 'data-table':  'filter-limit' } }) }}
                    <label>Risultati</label>
                </div>
            </fieldset>
            <div class="clearfix"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
            <fieldset class="form-inline">
                <div class="form-group">
                    {{ form_widget(form.query) }}
                </div>

                {{ form_widget(form.search, { 'attr': { 'placeholder': 'cerca...' } }) }}

            </fieldset>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="hidden">
        {{ form_row(form.page) }}
        {{ form_rest(form) }}
    </div>

</div>

{% endblock %}

