{% if pager.pages|length > 1 %}
<nav>
  <ul class="pagination">
    {% if pager.prev > 1 %}
    <li>
      <a class="page-link" href="#" aria-label="Previous"  data-table="page-link"  data-page="{{ pager.prev }}">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    
    {% for p in pager.pages %}
    <li class="page-item {{ p == pager.page ? "active" }}"><a class="page-link"  data-page="{{ p }}" href="#{{ p }}" data-table="page-link">{{ p }}</a></li>
    {% endfor %}

    
    {% if pager.next < pager.last %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next"  data-table="page-link" data-page="{{ pager.next }}">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}