{% extends 'admin/layout.html.twig' %}

{% block h1 %}Gestione Utenti{% endblock %}

{% block pageNav %}
    <nav class="navbar navbar-static-top navbar-default">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('admin_user') }}">Lista utenti</a></li>
                <li><a href="{{ path('admin_user_create') }}">Nuovo utente</a></li>
            </ul>
            <div class="nav navbar-form navbar-right">
                {{ render(url('admin_user_search_form')) }}
            </div>
        </div><!--/.nav-collapse -->
    </nav>
{% endblock %}