
{% embed 'layout/ibox.html.twig' %}
    {% block ibox_class %}animated fadeInUpBig{% endblock %}
    {% block ibox_title %}{{ 'Ultimi utenti creati' }}{% endblock %}
    {% block ibox_content %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th></td>
                <th>Username</th>
                <th>Email</th>
                <th>Profilo</th>
                <th>Attivo</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="{{ path('admin_user_edit', { 'userId' : user.id }) }}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.userType|userType }}</td>
                    <td><i class="fa {{ user.enabled ? 'fa-check text-success' : 'fa-times fa-danger' }}"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}
